

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.alert-wrapper {
  display: flex;
  justify-content: center;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.alert.show {
  opacity: 1;
}
